@import '../../styles/settings.scss';

.navbar {
  background-color: darken($color-dark, 4%);
  color: $color-light;
  font-size: 16px;
  padding: 10px;

  a {
    color: $color-light;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.2rem;
  }
  a.linkActive {
    color: $color-warning;
  }
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    font-size: 24px;
  }

  ul {
    display: flex;
  }
}
